---
import DarkModeButton from "./DarkModeButton";
import Settings from "./Settings";
import AppsSelect from "./AppsSelect";
---

<div class="flex flex-row-reverse w-full text-xs p-2">
    <Settings client:idle />
    <DarkModeButton client:idle />
    <AppsSelect client:idle/>
</div>
