---
import DarkModeButton from "./DarkModeButton";
import Settings from "./Settings";
---

<div class="flex flex-row-reverse w-full px-2 text-xl">
    <Settings client:idle />
    <p>Example text</p>
    <DarkModeButton client:only />
</div>
