---
import DarkModeButton from "./DarkModeSelect";
import Settings from "./Settings";
import AppsSelect from "./AppsSelect";
import HomeButton from "./HomeButton";
---

<div class="flex flex-row-reverse w-full text-xs p-2">
    <Settings client:idle  className="ms-2"/>
    <DarkModeButton client:idle  className="ms-2"/>
    <AppsSelect client:idle className="ms-2"/>
    <HomeButton client:idle className="me-auto">
</div>
