---
import LayoutNav from "../layouts/LayoutNav.astro";
import SimpleChat from "../components/SimpleChat";
---

<LayoutNav title="(TFG) Aplicaciones de los Motores de Búsqueda con los LLMs">
    <h1 class="text-primary dark">LSM</h1>
    <SimpleChat client:load />
</LayoutNav>

<style></style>
