---
import Layout from '../layouts/Layout.astro';
import ReactComponent from '../components/ReactComponent';
import SimpleChat from '../components/SimpleChat';
---

<Layout title="Welcome to Astro.">
	<main>
		<ReactComponent client:load/>
		<SimpleChat client:load/>
	</main>
</Layout>

<style>
</style>
